body{
    /* yai padding top is lyai diya kyu kai jab navbar fix kiya to pic kai
    uper araha tha tabhi padding top say nechai hogaya */
   padding-top: 56px;
}
.left-side{
    height: 70vh;
}
.background1{
    background-color: black;
    border-radius: 5px;
}
.background2{
    background-color: black;
    border-radius: 5px;
}
.background3{
    background-color: black;
    border-radius: 5px;
}
.background4{
    background-color: black;
    border-radius: 5px;
}
.background5{
    background-color: black;
    border-radius: 5px;
}
.right-side-up-1 .right-side-up-2{
    height: 35vh;
}
.right-down-3{
    height: 35vh;
    padding-top: 25px;
}
.img-thumbnail{
    position: relative;
    opacity: 0.3;
}
.img-shirt{
    opacity: 0.3;
}
.img-shoes{
    opacity: 0.3;
}
.text{
    color: white;
    position:absolute;
    bottom: 200px;
    left: 45px;
}
.row{
    flex-wrap: wrap;
}
.sms{
    color: white;
    position: absolute;
    bottom: 400px;
    padding-left: 20px;
    font-weight: bolder;
}
.sms1{
    color: white;
    position: absolute;
    bottom:400px;
    padding-left: 25px;
}
.img-ghg1, .img-ghg2{
    position: relative;
    opacity: 0.3;
}
.sms3{
    color: white;
    position: absolute;
    bottom:200px;
    padding-left: 25px;
}
.sms4{
    color: white;
    position: absolute;
    bottom:200px;
    padding-left: 25px;
}
.coll-2{
    color: purple;
    text-align: center;
}
.card-latest{
    padding-left: 90px;
    display: inline-block;
    justify-content: space-around;
}
.card-body{
    text-align: center;
}
.footer{
    background-color: darkblue;
    padding:70px 0;
}
.container{
    max-width: 1170px;
    margin:auto;
}
li>a{
    text-decoration: none;
    color: white;
}
.mob{
    list-style-type: none;
}
.row3{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
    color: white;
}
@media (max-width: 420px){
    .left-side{
        padding-right: 12px;
    }
    .row{
        flex-wrap: wrap;
        padding-top:4px;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1000px;
    }
    .background1{
        width: 320px;
    }
    .background2{
        height: 120px;
        width: 180px;
        position: absolute;
        bottom: 190px;
        /* background-color: black;         */
    }
    .background3{
        height: 120px;
        width: 180px;
        position: absolute;
        bottom: 20px;
        /* background-color: black; */
    }
    .background4{
        height: 120px;
        width: 180px; 
        position: absolute;
        bottom: -140px;
        background-color: black;      
    }
    .background5{
        position: absolute;
        height: 120px;
        width: 180px;
        bottom:-300px;
        background-color: black;
    }
    .img-thumbnail{
        width: 320px;
        /* margin-left: -10px; */
        position: relative;
        /* opacity: 0.3; */
    }
    .text{
        position:absolute;
        bottom: 64vh;
        font-size: 20px;
        margin-left: -15px;
    }
    .img-shirt{
        position: relative;
        /* margin-top: -65vh; */
        width: 180px;
        top: 0vh;
        /* margin-left: 9px; */
        /* opacity: 0.3; */
    }
    .sms{
        position: absolute;
        padding-left: -20px;
        bottom: 35vh;
    }
    .img-shoes{
        position: relative;
        top: 0vh;
        width: 180px;
        /* left: 10px; */
        /* opacity: 0.3; */
    }
    .sms1{
        position: absolute;
        bottom: 12vh;
    }
    .img-ghg1{
        position: relative;
         /* opacity: 0.3; */
        top: 0vh;
        width: 180px;
        /* left: 9px; */
    }
    .sms3{
        position: absolute;
        bottom: -13vh;
    }
    .img-ghg2{
        position: relative;
        /* opacity: 0.3; */
        top: 0vh;
        width: 180px;
        /* left: 9px; */
    } 
    .sms4{
        position: absolute;
        bottom: -40vh;
    } 
    .we{
        font-size: small;
    }
    .New{
        margin-top: -400vh;
        margin-left: -15px;
    }
    
    .footer{
        width: 50vh;
    }
}
@media (max-width: 320px){
    .left-side{
        padding-right: 12px;
    }
    .row{
        flex-wrap: wrap;
        padding-top:4px;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 1000px;
    }
    .background1{
        width: 320px;
    }
    .background2{
        height: 120px;
        width: 180px;
        position: absolute;
        bottom: 180px;
        /* background-color: black;         */
    }
    .background3{
        height: 120px;
        width: 180px;
        position: absolute;
        bottom: 20px;
        /* background-color: black; */
    }
    .background4{
        height: 120px;
        width: 180px; 
        position: absolute;
        bottom: -140px;
        background-color: black;      
    }
    .background5{
        position: absolute;
        height: 120px;
        width: 180px;
        bottom:-300px;
        background-color: black;
    }
    .img-thumbnail{
        width: 320px;
        /* margin-left: -10px; */
        position: relative;
        /* opacity: 0.3; */
    }
    .text{
        position:absolute;
        bottom: 64vh;
        font-size: 20px;
        margin-left: -15px;
    }
    .img-shirt{
        position: relative;
        /* margin-top: -65vh; */
        width: 180px;
        top: 0vh;
        /* margin-left: 9px; */
        /* opacity: 0.3; */
    }
    .sms{
        position: absolute;
        padding-left: -20px;
        bottom: 40vh;
    }
    .img-shoes{
        position: relative;
        top: 0vh;
        width: 180px;
        /* left: 10px; */
        /* opacity: 0.3; */
    }
    .sms1{
        position: absolute;
        bottom: 12vh;
    }
    .img-ghg1{
        position: relative;
         /* opacity: 0.3; */
        top: 0vh;
        width: 180px;
        /* left: 9px; */
    }
    .sms3{
        position: absolute;
        bottom: -13vh;
    }
    .img-ghg2{
        position: relative;
        /* opacity: 0.3; */
        top: 0vh;
        width: 180px;
        /* left: 9px; */
    } 
    .sms4{
        position: absolute;
        bottom: -40vh;
    } 
    .we{
        font-size: small;
    }
    .New{
        margin-top: -440vh;
        margin-left: -15px;
    }
    .footer{
        width: 50vh;
    }
}